@CHARSET "UTF-8";
html{
    overflow-y: hidden;
}
body{
    padding: 30px 0px 0px 30px;
    font-size:15px;
    background: white;
}
.title{
    margin: 0 0 0 20px;
    color: #696d73;
    font-style: italic;
    font-weight: 300;
}
/*borrow.jsp*/
.sBtn{
    float: right;
    padding-right:60px;
}
input.search {
    box-shadow: none;
    height: 32px;
    font-size: 13px;
    width: 200px;
    padding: 2px 6px;
    border: 1px solid #d0dde9;
    border-radius: 2px;
    display: none;
}
.search-box{
    width: 80%;
    padding: 15px 0;
}

table{
   border-top:1px solid #ccc;
   border-left:1px solid #ccc;
   text-align: center;
   margin-left: 20px;
}
tr:nth-child(odd){
   background: #eee;
}
tr:hover{
   background: #B5F9EF;
}
tr:first-child,.tTitle:hover{
   background: #ddd;
}
td{
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 5px;
}
a:hover{
	cursor: pointer;
}

/*edit.jsp*/
.edit-list{
    padding: 30px 0 0 30px;
}
.edit-list li{
    padding: 10px 0;
}
.edit-list label{
    width: 100px;
    padding: 0 20px;
    text-align: right;
}
.edit-list .btn{
	float: right;
	margin-right: 30px;
}
